@font-face {
    font-family: 'museo500';
    src: url('../fonts/museo_500/museo_500-webfont.woff2') format('woff2'),
         url('../fonts/museo_500/museo_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}